.form {
    width: 100%;
    border-radius: 9px;
    box-shadow: 0 0 2px 2px #ddd;
    background: #fff;
    padding: 24px 48px;
    @media (max-width: 768px) {
        padding: 24px;
    }
    &--modal {
        margin-top: 24px;
        box-shadow: unset;
        border-radius: unset;
    }
    &__title {
        text-align: center;
        margin-bottom: 48px;
    }
    &__group {
        position: relative;
        margin-bottom: 36px;
        @media (max-width: 768px) {
            margin-bottom: 24px;
        }
        .bar {
            position: relative;
            display: block;
            width: 100%;
            &:before, &:after {
                content: '';
                height: 2px;
                width: 0;
                bottom: 1px;
                position: absolute;
                background: #5264ae;
                transition: .2s ease-in-out all;
                -moz-transition: .2s ease-in-out all;
                -webkit-transition: .2s ease-in-out all;
            }
            &:before {left: 50%;}
            &:after {right: 50%;}
        } // .bar End
        .highlight {
            position: absolute;
            height: 60%;
            width: 60%;
            top: 25%;
            left: 0;
            pointer-events: none;
            opacity: 0.5;
        }
    }
    select.form__input {
        text-align-last: center;
    }
    &__input {
        padding: 8px 8px 8px 4px;
        display: block;
        width: 100%;
        border: none;
        border-radius: 2px;
        border-bottom: 1px solid #ddd;
        background: #f9f9f9;
        text-align: center;
        &:focus {outline:none;}
        &:focus ~ label.form__label, &.not-empty ~ label.form__label {
            top: -25px;
            font-size: 14px;
            color: #5264ae;
        }
        &:focus ~ .bar:before, &:focus ~ .bar:after {width: 50%;}
        &:focus ~ span.highlight {
            animation: inputHighlighter .3s ease-in-out;
            -moz-animation: inputHighlighter .3s ease-in-out;
            -webkit-animation: inputHighlighter .3s ease-in-out;
            @keyframes inputHighlighter {
                from{background: #5246ae;}
                to{background: transparent;width: 0;}
            }
            @-moz-keyframes inputHighlighter {
                from{background: #5246ae;}
                to{background: transparent;width: 0;}
            }
            @-webkit-keyframes inputHighlighter {
                from{background: #5246ae;}
                to{background: transparent;width: 0;}
            }
        }
    }
    &__label {
        color: #999;
        white-space: nowrap;
        position: absolute;
        pointer-events: none;
        left: 50%;
        transform: translateX(-50%);
        top: 2px;
        transition: .2s ease-in-out all;
        -moz-transition: .2s ease-in-out all;
        -webkit-transition: .2s ease-in-out all;
    }
    &__error {
        color: red;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

}
.btn {
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background: $fresh;
    box-shadow: 0 1px 2px 2px #ddd;
    text-shadow: 0 1px 1px #999;
    display: block;
    margin: 24px auto 0;
    &--danger {
        background: $vermillion;
    }
}