.form {
    width: 100%;
    border-radius: 9px;
    box-shadow: 0 0 2px 2px #ddd;
    background: #fff;
    padding: 24px 48px;
    @media (max-width: 768px) {
        padding: 24px;
    }
    &--modal {
        margin-top: 24px;
        box-shadow: unset;
        border-radius: unset;
    }
    &__title {
        text-align: center;
        margin-bottom: 96px;
    }
    &__group {
        position: relative;
        margin-bottom: 48px;
        .preview-container {
            margin: 12px auto 0;
            width: 50px;
            height: 50px;
            img#logo-img {
                height: 100%;
                width: 100%;
            }
        }
    }
    select.form__input {
        text-align-last: center;
    }
    &__input {
        padding: 8px 8px 8px 4px;
        display: block;
        width: 100%;
        outline: none;
        border: none;
        border-radius: 6px;
        background: #f9f9f9;
        font-family: $bodyFont;
        font-size: 16px;
        text-align: center;
        transition: 0.2s ease-in-out;
        &:focus {
            box-shadow: 0 0 1px 2px $fresh;
        }
    }
    &__label {
        font-size: 18px;
        position: absolute;
        color: #999;
        white-space: nowrap;
        pointer-events: none;
        left: 50%;
        top: -30px;
        transform:translateX(-50%);
    }
    &__error {
        color: red;
        font-size: 12px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
    }

}
.btn {
    border-radius: 2px;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 8px 16px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    background: $fresh;
    box-shadow: 0 1px 2px 2px #ddd;
    text-shadow: 0 1px 1px #999;
    display: block;
    margin: 24px auto 0;
    &--danger {
        background: $vermillion;
    }
}