.list {
    list-style: none;
    margin: 0;
    padding: 9px;
    &__item {
        border-radius: 9px;
        background: #f9f9f9;
        position: relative;
        &:not(:last-of-type) {margin-bottom: 24px;}
    }
    &__logo, &__title {
        display: inline-block;
    }
    &__logo {
        margin: 12px;
        height: 50px;
        width: 50px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__title {
        vertical-align: top;
        margin-top: 12px;
        margin-bottom: 12px;
        width: 50%;
        word-wrap: break-word;
        line-height: 20px;
        &>* {margin: 0;}
        p {font-size:16px;}
        h3 {
            margin-bottom: 12px;
            font-size: 18px;
        }
        h3, p{
            @media (min-width:768px) {
                font-size: unset;
            }
        }
    }
    &__top-btn {
        position: absolute;
        top: 12px;
        right: 9px;
        background: $sunshine;
        box-shadow: 0 2px 1px 0 #C55501;
        border-radius: 4px;
        border: none;
        outline: none;
        padding: 6px 12px;
        font-size: 16px;
        color: white;
        cursor: pointer;
        &--down {
            transform: translateY(2px);
            box-shadow: none;
        }
        &--unpaid {
            background: transparent;
            box-shadow: 0 2px 1px 0 $sunshine,
                        inset 0 0 0 1px $sunshine;
            color: $sunshine;
            &.pay--down {
                transform: translateY(2px);
                box-shadow: unset,
                            inset 0 0 0 10px $sunshine;
            }
        }
    }
    &__add-btn {
        z-index:1;
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 9px;
        right: 9px;
        border: none;
        border-radius: 50%;
        background: $fresh;
        box-shadow: 1px 1px 1px 1px #ddd;
        color: white;
        font-size: 24px;
        cursor: pointer;
    }
}