// Compile -> sass --watch app/assets/scss/app.scss:public/css/app.css

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto+Slab');
$bodyFont: 'Montserrat', sans-serif;
$headerFont: 'Roboto Slab', serif;
$successGreen: rgb(75, 181, 67);
$vermillion: #FC4A1A;
$fresh: #4ABDAC;
$sunshine: #F78733;
$clean: #DFDCE3;

@import "grid";
@import "helper";

body {
    margin: 0;
    padding: 0;
    color: black;
    background: #f3f3f3;
    font-family: $bodyFont;
}

@import "nav";
@import "form";
@import "flash";
@import "panel";
@import "list";
@import "modal";

.btn-status {
    background: transparent;
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: bold;
    border-radius: 4px;
    border: none;
    padding: 4px 8px;
    cursor: pointer;
    &--success {
        background: $successGreen;
        color: white;
    }
    &--danger {
        border: 1px solid $vermillion;
        color: $vermillion;
    }
}